.main ul li{
    border: 1px solid rgb(143, 114, 250);
    width: 30%;
    border-radius: 5px;
    
}

.main ul li:hover{
    border: 1px solid rgb(143, 114, 250);
    width: 30%;
    border-radius: 5px;
    background-color:rgb(143, 114, 250); 
    color: azure;
}

.add{
background-color: rgb(21, 232, 162);
padding: 3px;
margin-left:20px ;
color: rgb(255, 255, 255);
border-radius: 5px;
}

.remove{
    background-color: rgb(255, 141, 75);
    margin-left:20px ;
    padding: 3px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.remove-all{
    background-color: rgba(255, 34, 71, 0.881);
    margin-left:20px ;
    padding: 3px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

input{
    border: 2px solid rgb(180, 180, 180);
}

